body {
}

.row.display-flex {
    display: flex;
    flex-wrap: wrap;
}

.thumbnail {
    height: 100%;
    display: flex;
    flex-direction: column;
    transition: box-shadow .3s;
}

.thumbnail .caption {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.col-md-4 {
    margin-bottom: 10px;
}

.caption h3 {
    margin-top: 0;
}

.is-liked-shared {
    color: rgb(51, 122, 183);
}

div a.socialActions {
    letter-spacing: 1px;
    font-size: 170%;
    color: darkslategray;
}

div a.socialActions:hover,
div a.socialActions:focus {
    color: rgb(51, 122, 183);
}

div.siteActions {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

#sortLinks {
    margin-bottom: 10px;
}

#sortLinks a {
    margin: auto 5px;
}

#sortLinks h4 {
    display: inline-block;
    margin: auto 1px;
}

#homeCreate {
    display: flex;
    justify-content: space-between;
}

#homeCreate div {
    margin: auto 1px;
}

.thumbnail:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2);
}

#detailsInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 100%;
    border: 0.1em solid gray;
    border-radius: 10px;
    margin-bottom: 0;
}

#detailsInfo dl dd {
    border-bottom: 1px dashed gray;
}
