@model PagedList.IPagedList<Wallpaper.Models.Image>

@{
    ViewBag.Title = "My Profile";
}

<h2 class="text-center">My Profile</h2>

<hr />

<div id="wrap">
    @Html.Partial("_SharedImages", Model)
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            var working = false;
            var page = 2;

            function yHandler() {
                var wrap = document.getElementById('wrap');
                var contentHeight = wrap.offsetHeight / 2; // Gets page content height
                var yOffset = window.pageYOffset; // Gets the vertical scroll position
                var y = yOffset + window.innerHeight;
                if (y >= contentHeight) {
                    if (page <= @ViewBag.PageCount && working == false) {
                        working = true;
                        console.log(page);
                        $.get('/Account/MyProfile?page=' + page, function (data) {
                            wrap.innerHTML += data;
                            page++;
                            setTimeout(function () {
                                working = false
                            }, 2500);
                        });
                    }
                }
            }
            window.onscroll = yHandler;
        });
    </script>
}